<!DOCTYPE html>
<html>

<head>
    <title>ANS DevOps Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>ANS Digital Solutions</h1>

    <h2>Python Flask CI/CD Dashboard</h2>

    <hr>

    <h3>Developer</h3>

    <p><strong>Name :</strong> Asnul Ansari</p>

    <p><strong>Experience :</strong> 15+ Years</p>

    <p><strong>Role :</strong> Infrastructure & DevOps Engineer</p>

    <hr>

    <h3>Technology Stack</h3>

    <ul>
        <li>Python 3.12</li>
        <li>Flask</li>
        <li>Git</li>
        <li>GitLab</li>
        <li>Jenkins</li>
        <li>Docker</li>
    </ul>

    <hr>

    <h3>Status</h3>

    <p class="success">
        Application Running Successfully
    </p>

    <a href="/about">About Developer</a>

</div>

</body>

</html>
